[servos]
maximum_pulse = 2450
mimimum_pulse = 450
kill_angle = 90
#How far off each servo is from code orentation
angle_offsets = [0]*16

[leg1]
#Hip, Femur, and Tibia lengths for each leg
limb_lengths = [40, 150, 150]
#Which servos correspond to which joint in each leg
servo_pins = [0, 1, 2]
#Which servos are flipped depending on quadrant
quadrants = [1, 1, 1]
#The position of each leg's base relative to the center of the robot
positions = [75, 75, 0]

[leg2]
limb_lengths = [40, 150, 150]
servo_pins = [3, 4, 5]
quadrants = [-1, -1, -1]
positions = [-75, 75, 0]

[leg3]
limb_lengths = [40, 150, 150]
servo_pins = [6, 7, 8]
quadrants = [-1, 1, 1]
positions = [-75, -75, 0]

[leg4]
limb_lengths = [40, 150, 150]
servo_pins = [9, 10, 11]
quadrants = [1, -1, -1]
positions = [75, -75, 0]

[movement]
#How high the legs should come up when taking a step
step_height = -30
#How high the robot should stand above the ground
standing = -100
#The maximum distance the legs can be away from their base before being forced to take a step
step_length = 100